/**
 * Override of misc/vertical-tabs-rtl.css.
 */
/* line 5, ../sass/vertical-tabs-rtl.scss */
div.vertical-tabs {
  background: #fff url(images/fc-rtl.png) repeat-y right 0;
}

/* line 8, ../sass/vertical-tabs-rtl.scss */
div.vertical-tabs .vertical-tabs-list {
  float: right;
  margin: 0 0 -1px -100%;
}

/* line 12, ../sass/vertical-tabs-rtl.scss */
div.vertical-tabs ul li.selected a,
div.vertical-tabs ul li.selected a:hover,
div.vertical-tabs ul li.selected a:focus,
div.vertical-tabs ul li.selected a:active {
  border-left-color: #fff;
}

/* line 18, ../sass/vertical-tabs-rtl.scss */
div.vertical-tabs .vertical-tabs-panes {
  margin: 0 265px 0 0;
  padding: 10px 0 10px 15px;
}

/*# sourceMappingURL=vertical-tabs-rtl.css.map */
