//
// Simple-Flexible - A really basic flexible layout
// =============================================================================

%page-layout {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

#branding .header-inner,
.page {
  @extend %page-layout;
}
